.container {
  width: 100%;
  height: 100vh;
  display: flex;
}
.left {
  width: 35%;
  background: #fff6d3;
  height: 100%;
}
.leftBlock {
  width: 70%;
  margin: 0 auto;
  margin-top: 40%;
}
.leftBlock h1 {
  font-size: 1.4rem;
  text-align: left;
  font-family: "Poppins";
}
.leftBlock img {
  width: 20rem;
  height: 20rem;
}
.right {
  position: relative;
  width: 65%;
  height: 100%;
}
.rightBlock {
  text-align: left;
  padding: 1rem;
  margin-left: 15%;
  margin-top: 22%;
  width: 35%;
}
.rightBlock h2 {
  font-size: 1rem;
  color: #2b2d42;
  font-family: "Poppins";
  font-weight: 600;
  width: 70%;
}
.formContainer {
  padding: 1rem;
}
.formLabel {
  margin-top: 1.5rem;
}
.formLabel h2 {
  font-size: 0.7rem;
  color: #2b2d42;
  font-family: "Poppins";
  font-weight: 100;
}
.formInput {
  background: #fafafa;
  font-size: 0.7rem;
  width: 20rem;
  padding: 1rem 0.5rem;
  border: 1px solid #8d99ae;
  border-radius: 4px;
}
.input-feedback {
  color: red;
  font-size: 0.7rem;
  margin-top: 5px;
  font-family: "Poppins";
}
.formButton {
  background: #1f1f21;
  color: white;
  width: 20rem;
  height: 2.5rem;
  font-size: 0.8rem;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  margin-top: 1rem;
}
.right img {
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 10rem;
  height: 10rem;
}
.footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 60%;
  padding: 1rem;
}
.footer h3 {
  color: #859bbcf5;
  font-size: 0.3rem;
}
