.vehiclesSection {
  background: #f6f6f6 0% 0% no-repeat padding-box;
  height: 100%;
  padding-top: 3rem;
}

.vehicleCard {
  margin: 0 auto;
  width: 95%;
  padding: 1rem 2rem;
  background: #fff;
  border-radius: 10px;
}

.vehicleHead,
.vehicle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.vehicleHead p {
  color: #a3abb7;
  font-size: 0.8rem;
  font-weight: 300;
  width: 14%;
}

.vehicle p {
  width: 15%;
  color: #2c2c2c;
  font-size: 0.7rem;
  font-weight: 300;
}

.vehicle .GC {
  color: #3620b1;
}
