.sidebar {
  width: 15%;
  border: 0.4000000059604645px solid #dbe3ee;
  /* box-shadow: inset 0px 0px 2px 2px grey; */
  height: 100%;
  margin-top: 0px;
}
.sidebarLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarLogo img {
  width: 7rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1px;
  text-decoration: none;
  color: #a3abb7;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
.nav-link:hover,
.nav-link:focus {
  color: black;
}

.nav-link.active {
  border-right: 3px solid #fddb00;
}
